<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="layouts/head::head">
    <title>Coindesk Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
</head>

<body>
<header th:replace="layouts/head::header"></header>
<nav th:replace="layouts/head::navbar"></nav>
<section>
<div class="container card d-flex justify-content-center mt-5">
    <form name="login" class="form-group" th:action="@{/login}" method="post">
        <label for="username">User name</label>
        <input type="text" class="form-control" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">

        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>