<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layouts/head::head"></head>
<body>
<header th:replace="layouts/head::header"></header>
<nav th:replace="layouts/head::navbar"></nav>
<section class="container d-flex justify-content-center">
    <form th:action="@{/mining}" method="post" th:object="${coinId}">
        <input type="number" id="coinid" name="coinid" th:field="*{coinid}" placeholder="input coin ID">
        <button type="submit" class="btn btn-warning">Mining</button>
    </form>

    <script>

    </script>
</section>
<footer th:replace="layouts/head::footer"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>